* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Comfortaa;
    font-size: 15px;
    min-height: 0;
}

#waybar {
    background-color: transparent;
    color: rgba(228, 228, 228, 1);
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 11px;
    border-radius: 50% 50% 50% 50%;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(228, 228, 228, 0.4);
    color: rgba(0, 0, 0, 1);
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: 50% 50% 50% 50%;
}

#workspaces button.focused {
    background-color: rgba(228, 228, 228, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 50% 50% 50% 50%;
}

#workspaces button.urgent {
    background-color: rgba(255, 0, 0, 1);
}

#mode {
    background-color: rgba(228, 228, 228, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 20% 20% 20% 20% / 50% 50% 50% 50%;
    padding: 0 11px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-vpn,
#mpd {
    padding: 0 10px;
    color: rgba(228, 228, 228, 1);
    background-color: rgba(0, 0, 0, 0.7);
}

#tray {
    padding: 0 11px;
    border-radius: 0px 25px 25px 0px;
}

#mpd {
    border-radius: 25px 0px 0px 25px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


label:focus {
    background-color: #000000;
}


#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}
